    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="brand-id" value="{{this.brand}}" name="brand" placeholder="Nike">
            <label for="brand-id">Brand</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="product-name-id" value="{{this.indumentaryType}}" name="indumentaryType" placeholder="Shirt">
            <label for="product-name-id">Product name</label>
        </div>
    </div>
    <div class="col-6">

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="destination-id" value="{{this.destination}}" name="destination" placeholder="Woman">
            <label for="destination-id">Destination</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="price-id" value="{{this.price}}" name="price" placeholder="$ 9.99">
            <label for="price-id">Price</label>
        </div>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="stock-id" value="{{this.stock}}" name="stock" placeholder="10">
        <label for="stock-id"> Stock</label>
    </div>
    <div class="col-12 d-grid">
        <button class="btn btn-dark" type="submit">Submit</button>
    </div>